In [1]:
# Dependencies
import os
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import pandas as pd

Directions for site #1
NASA Mars News

Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [2]:
# URL of page to be scraped and Retrieve page with the requests module
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

In [3]:
html = requests.get(url).text
soup = bs(html, 'lxml')

In [4]:
# Examine the results, then determine element that contains sought info
# print(soup.prettify())

In [5]:
# # set variable for result
news_title = soup.find('div', class_="content_title")
news_p = soup.find("div", class_="rollover_description_inner")

In [6]:
# print latest news headline and paragraph

print(news_title.text)
print(news_p.text)

NASA Readies Perseverance Mars Rover's Earthly Twin



Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.

-----------------------------------------------------
Visit the url for JPL Featured Space Image.

Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.

Make sure to find the image url to the full size .jpg image.

Make sure to save a complete url string for this image

In [7]:
# Set executable path and browser
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser('chrome', **executable_path, headless=False)

In [8]:
# set url
url="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)
image_element = browser.find_by_id("full_image")
image_element.click()

In [9]:
browser.is_element_present_by_text("more info", wait_time=2)
more_info = browser.links.find_by_partial_text('more info')
more_info.click()

In [10]:
# use beautiful soup to search site
html = browser.html
soup = bs(html, 'html.parser')
# print(soup.prettify())

In [11]:
result= soup.find("figure", class_="lede")
print(result)

<figure class="lede">
<a href="/spaceimages/images/largesize/PIA17254_hires.jpg"><img alt="This artist's concept shows the NASA's WISE spacecraft, in its orbit around Earth. In September of 2013, engineers will attempt to bring the mission out of hibernation to hunt for more asteroids and comets in a project called NEOWISE." class="main_image" src="/spaceimages/images/largesize/PIA17254_hires.jpg" title="This artist's concept shows the NASA's WISE spacecraft, in its orbit around Earth. In September of 2013, engineers will attempt to bring the mission out of hibernation to hunt for more asteroids and comets in a project called NEOWISE."/></a>
</figure>

In [12]:
# # get full size featured image
for link in result("a"):
    image_url = link.get("href")
    print(image_url)

/spaceimages/images/largesize/PIA17254_hires.jpg

In [13]:
featured_image_url = url+image_url
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars/spaceimages/images/largesize/PIA17254_hires.jpg'

-------------------------------------
Mars Facts

Visit the Mars Facts webpage and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

Use Pandas to convert the data to a HTML table string.

In [14]:
# use pandas to find mars info table
url = "https://space-facts.com/mars/"
mars_table = pd.read_html(url)
mars_table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [15]:
# create dataframe from html table
mars_df = mars_table[0]
mars_df.columns = ["Description","Mars"]
mars_df

            Description                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [16]:
# reset index
mars_df.set_index('Description', inplace=True)
mars_df

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [17]:
# convert dataframe to html
mars_df.to_html("mars_table.html")
!open mars_table.html

Mars Hemispheres

Visit the USGS Astrogeology site to obtain high resolution images for each of Mar's hemispheres.

You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.

Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.

Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [18]:
# Set executable path and browser
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser('chrome', **executable_path, headless=False)

In [19]:
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [20]:
html = browser.html
soup = bs(html, 'html.parser')
# print(soup.prettify())

In [21]:
result= soup.find_all("a", class_="itemLink product-item")
link_list = []
base_url = "https://astrogeology.usgs.gov"
for link in result:
    if link["href"] not in link_list:
        link_list.append(link["href"])
image_links = [base_url + link for link in link_list]
image_links

['https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced']

In [22]:
# return a list of dictionary's that look like {"title":"Cerberus Hemisphere", "image_url": }
hemisphere_images = []
for link in image_links:
    hemisphere_info = {}
    browser.visit(link)
#     print(link)
    html = browser.html
    soup = bs(html, 'html.parser')
    image_url = soup.find("img", class_="wide-image")["src"]
    title = soup.find("h2", class_="title").text
    hemisphere_info["title"] = title
    hemisphere_info["image_url"] = base_url + image_url
    hemisphere_images.append(hemisphere_info)
    browser.back()
hemisphere_images

[{'title': 'Cerberus Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [23]:
browser.quit()